body{
    background-image:url("calcbg.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}
.F{
    width:305px;
    height:15px;
    border:none;
    text-align:right;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.I{
    width:305px;
    height:60px;
    border:none;
    text-align:right;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:25px;
}
.button{
    background-color:rgb(32, 31, 31); 
    cursor:pointer;
     color:rgb(236, 234, 231);
}
.v{
    margin-left: 600px;
    margin-top:180px;
    background-color:white;
    width:305px;

}
.grid-container{
    display:grid;
    grid-template-rows: 75px 75px 75px 75px 75px;
    grid-template-columns: 75px 75px 75px 75px;
    grid-gap: 1px;
    padding: 1px;    
}
